<md-sidenav-container>
<md-card  class='light'>
    <div class='panel-heading'>
        <h1> {{pageTitle}}
            <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/orderEdit', 0]"><md-icon>add</md-icon>
                                        </button>
            <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()"><md-icon>search</md-icon></button>
            <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()"><md-icon>refresh</md-icon></button>            </h1>

    </div>

    
        <div class='panel-body'>         

            <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

            <div class='table-responsive'>
          

                <table class='table' *ngIf='orders && orders.length'>
                    <thead>
                    
                        <tr>
                            <th>
                            </th>
                            <th>Reference</th>
                           
                            <th>Quantiy</th>
                            <th>Amount</th>
                             <th>Order Date</th>
                             <th>Shipped Date</th>
                            <th>Customer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- Filter the Orders   -->
                        <tr >
                            <td >
                            </td>
                            <td> <input type='text' [(ngModel)]="listFilter.reference"  (ngModelChange)="searchOrders(listFilter)"/></td>
                            <td><input type='text' [(ngModel)]="listFilter.amount" (ngModelChange)="searchOrders(listFilter)" /></td>
                            <td><input type='text' [(ngModel)]="listFilter.quantity" (ngModelChange)="searchOrders(listFilter)" /></td>
                            <td></td>
                            <td></td>
                             <td></td>
                            <td>
                                <button   md-raised-button style="color:white; background-color:darkgrey"
                                (click)="resetListFilter()">Reset</button>
                            </td>
                        </tr>                     
                        <tr *ngFor='let order of pagedItems'>
                            <td>
                                <img *ngIf='order.avatar'
                                    [src]='order.avatar'
                                    [title]='order.reference | uppercase'
                                    [style.width.px]='imcustomerIdWidth' 
                                    [style.margin.px]='imcustomerIdMargin'>
                            </td>
                            <td><a [routerLink]="['/order', order.id]">
                                {{order.reference}}
                                </a>
                            </td>
                        
                            <td>{{ order.products.length | number: 0 }}</td>
                            <td>{{ order.amount | number: 0 }}</td>
                            <td>{{ order.orderDate | date:'shortDate' }}</td>
                              <td>{{ order.shippedDate | date:'shortDate' }}</td>
                            <td>
                                {{order.customer? order.customer.firstName: '' }} {{order.customer? order.customer.lastName:'' }}
            
                        </td>
                        <td>
                                <button md-mini-fab style="background-color:teal"
                                [routerLink]="['/orderEdit', order.id]">
                                    <md-icon>edit</md-icon>
                                </button >
                                &nbsp;
                                &nbsp;
                                <button md-mini-fab style="background-color:lightblue"
                                (click)="openDialog(order.id)" >       
                                    <md-icon>delete</md-icon>
                                </button >
                            </td>
                        </tr>
                    </tbody>
                </table>     
               
            </div>
                      <!-- pager -->
                <md-grid-list cols="5" rowHeight="60px">

                <md-grid-tile [colspan]="" > &nbsp;</md-grid-tile>
                <md-grid-tile [colspan]="3" [rowspan]="">
                                
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)"><strong>&lt;&lt;</strong></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)"><strong>&lt;</strong></a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)"><strong>&gt;</strong></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)"><strong>&gt;&gt;</strong></a>
                        </li>
                    </ul>
                </md-grid-tile>
                <md-grid-tile [colspan]="" > &nbsp;</md-grid-tile>
                        </md-grid-list>
                <div *ngIf='!orders || orders.length <=0'>   No record found !</div>
        </div>   
</md-card >
<md-sidenav class="search-panel" dark #sidenav mode="push" opened="false" >
    <md-card class="profile-card">
        <md-card-header>
            <div md-card-avatar class="avatar"></div>                          
            <md-card-subtitle>

                <button  md-raised-button  style="color:lightgrey; background-color:darkgreen"
                        (click) = "searchOrders(searchFilter);sidenav.toggle()"><md-icon>search</md-icon>Search </button>

                <button   md-raised-button style="color:lightgrey; background-color:darkred"
                        (click)="resetSearchFilter(sidenav)"><md-icon>refresh</md-icon>Reset</button>

            </md-card-subtitle>
        </md-card-header>

    </md-card>            
    <md-nav-list style="margin-left:20px;">
        <md-input-container >
            <input mdInput type="text" placeholder="First Name" style="width:200px;" name="reference" [(ngModel)]="searchFilter.reference" #reference />        
        </md-input-container>

        <md-input-container>        
            <input mdInput type="text" placeholder="Last Name" style="width:200px;" name="amount" [(ngModel)]="searchFilter.amount" #amount />        
        </md-input-container>

        <md-input-container  >        
            <input mdInput type="text" placeholder="Email" style="width:200px;" name="quantity" [(ngModel)]="searchFilter.quantity" #amount  />
        </md-input-container>
            
    </md-nav-list>
</md-sidenav>
</md-sidenav-container>