/*@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';*/

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.main {
 /*padding: 10px;*/
 margin: 20px;
}

div.avatar {
  background-image: url('/assets/img/avatar0.png');
  background-size: cover;
}

.profile-card{
    /*min-width: 220px;*/
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
