<md-card class='light'>
  <div class='panel-heading'>
    <h1> {{pageTitle}}
      <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/productEdit', 0]"><md-icon>add</md-icon>
                                        </button>
      <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()"><md-icon>search</md-icon></button>
      <button class="pull-right" md-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()"><md-icon>refresh</md-icon></button>      </h1>

  </div>


  <div class='panel-body'>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    <div class='table-responsive'>


      <table class='table' *ngIf='products && products.length'>
        <thead>

          <tr>
          
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity In Stock</th>
            <!--<th>Amount</th>-->
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Filter the Products   -->
          <tr>
  
            <td> <input type='text' [(ngModel)]="listFilter.product" (ngModelChange)="searchProducts(listFilter)" /></td>
            <td><input type='text' [(ngModel)]="listFilter.price" (ngModelChange)="searchProducts(listFilter)" /></td>
            <td><input type='text' [(ngModel)]="listFilter.quantity" (ngModelChange)="searchProducts(listFilter)" /></td>
            <td></td>
  
            <td>
              <button md-raised-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button>
            </td>
          </tr>
          <tr *ngFor='let product of pagedItems'>

            <td><a [routerLink]="['/product', product.id]">
                                {{product.productName}}
                                </a>
            </td>
            <td>AUD $ {{ product.unitPrice | number: 0.00}}</td>
            <td>{{ product.unitInStock | number: 0 }}</td>
    
            <td>
              {{product.category.categoryName}}

            </td>
            <td>
              <button md-mini-fab style="background-color:teal" [routerLink]="['/productEdit', product.id]">
                                    <md-icon>edit</md-icon>
                                </button >
                                &nbsp;
                                &nbsp;
                                <button md-mini-fab style="background-color:lightblue"
                                (click)="openDialog(product.id)" >       
                                    <md-icon>delete</md-icon>
                                </button >
                            </td>
                        </tr>
                    </tbody>
                </table>
      
               
            </div>
                      <!-- pager -->
                <md-grid-list cols="5" rowHeight="60px">

                <md-grid-tile [colspan]="" >&nbsp;</md-grid-tile>
                <md-grid-tile [colspan]="3" [rowspan]="">
                                
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)"><strong>&lt;&lt;</strong></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)"><strong>&lt;</strong></a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)"><strong>&gt;</strong></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)"><strong>&gt;&gt;</strong></a>
                        </li>
                    </ul>
                </md-grid-tile>
                <md-grid-tile [colspan]="" > &nbsp;</md-grid-tile>
                        </md-grid-list>
                <div *ngIf='!products || products.length <=0'>   No record found !</div>
        </div>   
</md-card >
<md-sidenav class="search-panel" dark #sidenav mode="over" opened="false" >
    <md-card class="profile-card">
        <md-card-header>
            <div md-card-avatar class="avatar"></div>                          
            <md-card-subtitle>

                <button  md-raised-button  style="color:lightgrey; background-color:darkgreen"
                        (click) = "searchProducts(searchFilter);sidenav.toggle()"><md-icon>search</md-icon>Search </button>

              <button md-raised-button style="color:lightgrey; background-color:darkred" (click)="resetSearchFilter(sidenav)"><md-icon>refresh</md-icon>Reset</button>

              </md-card-subtitle>
              </md-card-header>

</md-card>
<md-nav-list style="margin-left:20px;">
  <md-input-container>
    <input mdInput type="text" placeholder="First Name" style="width:200px;" name="product" [(ngModel)]="searchFilter.product"
      #product />
  </md-input-container>

  <md-input-container>
    <input mdInput type="text" placeholder="Last Name" style="width:200px;" name="price" [(ngModel)]="searchFilter.price" #price
    />
  </md-input-container>

  <md-input-container>
    <input mdInput type="text" placeholder="Email" style="width:200px;" name="quantity" [(ngModel)]="searchFilter.quantity" #price
    />
  </md-input-container>

</md-nav-list>
</md-sidenav>
